[submodule "themes/hugo-clarity"]
	path = themes/hugo-clarity
	url = https://github.com/chipzoller/hugo-clarity
[submodule "public"]
	path = public
	url = https://github.com/LuizMacedo/luizmacedo.github.io.git
	branch = master
