
<li class = 'post_item'>
  <div class = 'excerpt'>
    <div class = 'excerpt_header'>
      <h3 class = 'post_link'>
        <a href='{{ .Permalink }}'>{{ .Title  }}</a>
      </h3>
      {{ partial "post-meta.html" . }}
    </div>
    {{- with .Params.thumbnail }}
    <div class = 'excerpt_footer partition'>
      <div class = 'excerpt_thumbnail'>
      <img src = '{{ if (hasPrefix . "http") }}{{ . }}{{ else }}{{ absURL . }}{{ end }}'>
      </div>
      {{ else }}
      <div class = 'excerpt_footer'>
        {{- end }}
        <div>
          <p class = 'pale'>{{ .Summary | truncate 320 }}</p>
          {{ if eq .Site.Language.Lang "en" }} <!-- Add to translate sidebar -->
          <a href='{{ .Permalink }}' class='excerpt_more button'>Read More</a>
          {{ else }} <!-- Add to translate sidebar -->
          {{ if eq .Site.Language.Lang "br" }} <!-- Add to translate sidebar -->
          <a href='{{ .Permalink }}' class='excerpt_more button'>Leia mais...</a>
          {{ end }} <!-- Add to translate sidebar -->
          {{ end }} <!-- Add to translate sideb -->
        </div>
      </div>
    </div>
  </li>
  